# Supabase
SUPABASE_URL=your_project_url
SUPABASE_KEY=your_publishable_key

# Plaid
PLAID_CLIENT_ID=your_client_id
PLAID_SECRET=your_secret
PLAID_ENV=sandbox

# OpenAI
OPENAI_API_KEY=your_api_key

# JWT
JWT_SECRET=your_secret